.Card {
  height: 600px;
  width: 500px;
  background-color: white;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.Card:hover {
  height: 626px;
  width: 526px;
  transition: 0.3s;
}


.img {
  height: 500px;
  width: 400px;
  object-fit: fill;
}

.img:hover {
  width: 426px;
  transition: 0.3s;
}

.Title {
  background-color: white;
  color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}

.Content {
  background-color: white;
  color: rgb(0, 0, 0);
  font-family: 'Open Sans';
  font-size: 10px;
}